name: Build Firmware

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Initialize Environment
        run: |
          sudo -E apt-get -qq update
          sudo -E apt-get -qq install -y build-essential clang flex bison g++ gawk \
          gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev \
          python3-setuptools rsync swig unzip zlib1g-dev file wget qemu-utils
          sudo timedatectl set-timezone "Asia/Shanghai"

      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Build Firmware
        id: build
        working-directory: /home/runner/work/BoltWrt/BoltWrt
        run: |
          ./scripts/feeds update -a
          ./scripts/feeds install -a

          echo "Downloading feeds..."
          make download -j8 || (echo "âŒ Failed to download feeds" && exit 1)

          echo "Using $(nproc) processors for building"
          make -j $(($(nproc)+1)) || make -j1 V=s

          echo "status=success" >> $GITHUB_OUTPUT
          grep '^CONFIG_TARGET.*DEVICE.*=y' .config | sed -r 's/.*DEVICE_(.*)=y/\1/' > DEVICE_NAME
          [ -s DEVICE_NAME ] && echo "DEVICE_NAME=$(cat DEVICE_NAME)" >> $GITHUB_ENV
          echo "FILE_DATE=$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV
    
      - name: Check Disk Usage
        if: (!cancelled())
        run: df -h
      
      - name: Upload Artifacts
        if: (!cancelled() && steps.build.outputs.status == 'success')
        uses: actions/upload-artifact@v4
        with:
          name: BoltWrt_bin_${{ env.DEVICE_NAME }}_${{ env.FILE_DATE }}
          path: /home/runner/work/BoltWrt/BoltWrt/bin/targets/